extends layout

block content
    .w3-container.w3-margin.w3-border
        .w3-container.w3-blue
            h3 Introduza o novo tipo de exame:
        form.w3-container(action='/tipoexame' method='POST')
            p
            label Sigla:
            input.w3-input(type="text" name="sigla" required='required')
            p
            label Descrição:
            input.w3-input(type="text" name="descricao" required='required')
            hr
            input.w3-btn.w3-blue(type="submit" value="Registar")
    footer(class="w3-container w3-center" style="position: absolute; bottom: 0; width: 100%; height: 2.5rem;")
        a(href="/") Voltar