extends layout

block content
    link(rel='stylesheet', href='/stylesheets/profile.css')
    script(src='/javascripts/prevent_back.js')
    if alert_cocktail != ''
        if alert_cocktail == '1'
            script.
                if (window.confirm('The cocktail was sucessfully added to this location.'))
                {
                    history.pushState(null, "", location.href.split("?")[0]);
                }
                else
                {
                    history.pushState(null, "", location.href.split("?")[0]);
                }

        if alert_cocktail == '2'
            script.
                if (window.confirm('The cocktail was sucessfully removed from this location.'))
                {
                    history.pushState(null, "", location.href.split("?")[0]);
                }
                else
                {
                    history.pushState(null, "", location.href.split("?")[0]);
                }

    #content
        header
            .container-fluid
                .row
                    .col-md-3
                        .full
                            a.logo(href='/homepage')
                                img(src='/images/favicon.ico' alt='#' style='width: 15%;')
                    .col-md-9
                        .full
                            div(class='right_header_info')
                                ul
                                    li 
                                        button(class="button-transparent" onclick="location.href='http://localhost:7301/admin/manage';")
                                            i(class = "fa fa-home" style="color:white;font-size:25px;")
                                    li 
                                        button(class="button-transparent" onclick="location.href='http://localhost:7301/admin/logout';")
                                            i(class = "fa fa-sign-out" style="color:white;font-size:25px;")
        about
            .container
                .row
                    .col-md-12
                        .title
                            h2(style='margin-top: 150px') #{name}
                            span
                                t(style="color:orange") Location Info
                            span(style='margin-top: 20px')
                                button(class="button-transparent" onclick="deleteLocation(\""+location.idLocation+"\")")
                                    i(class="fa fa-trash" style="font-size:20px;") 
                .row
                    .col-xl-6.col-lg-6.col-md-12.col-sm-12
                        .card.mb-3
                            .card-body
                                .d-flex.flex-column.align-items-center.text-center
                                    img(src="/images/location.png" alt="Avatar" width="320" height="320")
                                    .mt-3
                                        h4 #{name}
                    .col-xl-6.col-lg-6.col-md-12.col-sm-12
                        .card.mb-3
                            .card-body
                                h4
                                    t(style="color:goldenrod") Cocktails 
                                    t associated
                                    button(type='button' style="float:right" class="button-transparent" onclick='addCocktail()')
                                        i(class="fa fa-plus-square" style="font-size:20px;")

                                #formCocktail(style='display:none')
                                    form(onsubmit="return confirm(&quot;Do you want to add this Cocktail?&quot;)" action='http://localhost:7300/locations/' + location.idLocation + '/addCocktail?token=' + token, method='POST')
                                        h4 Add Cocktail
                                        div(class='row')
                                            div(class='col')
                                                select.form-control(name='cocktail')
                                                    option(value='false') Select a non-location Cocktail
                                                    for c in cocktails
                                                        if c.Location.idLocation == ''
                                                            option(value=c.idDrink)=c.strDrink

                                        p
                                            button(style="float:right; margin-left:10px" class="btn btn-primary btn-sm" type="submit") Submit
                                            btn(style='float:right' class='btn btn-secondary btn-sm' type='button' onclick="removeChildCocktail()") Cancel

                                #tableCocktails
                                    table(id="individual" style="text-align:center")
                                        thead
                                            tr
                                                th Cocktail
                                                th
                                                th
                                        tbody
                                            each cc in location.Cocktails
                                                tr 
                                                    td=cc.strDrink
                                                    td
                                                        button(type="button" class="btn btn-secondary btn-sm" onclick="location.href='/admin/manage/cocktails/" + cc.idDrink + "'") Find More
                                                    td
                                                        button(class="button-transparent" onclick="deleteCocktailLocation(\""+location.idLocation+"\", \"" + cc.idDrink + "\")")
                                                            i(class="fa fa-trash" style="font-size:18px;")

        footer
            .copyright
                .container
                    p &copy; Gon&ccedil;alo Pinto and Lu&iacute;s Ribeiro
        // end footer
        // end footer
    .overlay