extends layout

block content
	script(src='/javascripts/prevent_back.js')

	#content
		header
			.container-fluid
				.row
					.col-md-3
						.full
							a.logo(href='/homepage')
								img(src='/images/favicon.ico' alt='#' style='width: 15%;')
					.col-md-9
						.full
							div(class='right_header_info')
								ul
									li 
										button(class="button-transparent" onclick="location.href='http://localhost:7301/admin/logout';")
											i(class = "fa fa-sign-out" style="color:white;font-size:25px;")
		about 
			.container
				.row
					.col-md-12
						.title(style='margin-top: 150px')
							i(class="fa fa-user-secret" style="font-size:32px; color:#191918;")
							h2 Admin room
							span Administrators can manipulate the data through the links below

				.card
					.card-body        
						table(style="border-collapse:separate; border-spacing:20px 20px;")
							tbody
								tr
									td(style='text-align:center;')
										i
											img(src='/images/icons/bar.png')    
									td(style='text-align:center;')
										a(href='http://localhost:7301/admin/manage/bars') Bars
									td(style='text-align:center;')
										t -
									td Click here to manipulate the data about 
										t(style='color:orange') Bars										

								tr
									td(style='text-align:center;')
										i
											img(src='/images/icons/bartender.png')    
									td(style='text-align:center;')
										a(href='http://localhost:7301/admin/manage/bartenders') Bartenders
									td(style='text-align:center;')
										t -
									td Click here to manipulate the data about 
										t(style='color:orange') Bartenders

								tr
									td(style='text-align:center;')
										i
											img(src='/images/icons/category.png')    
									td(style='text-align:center;')
										a(href='http://localhost:7301/admin/manage/categories') Categories
									td(style='text-align:center;')
										t -
									td Click here to manipulate the data about 
										t(style='color:orange') Categories

								tr
									td(style='text-align:center;')
										i
											img(src='/images/icons/cocktail.png')
									td(style='text-align:center;')
										a(href='http://localhost:7301/admin/manage/cocktails') Cocktails
									td(style='text-align:center;')
										t -
									td Click here to manipulate the data about 
										t(style='color:orange') Cocktails

								tr
									td(style='text-align:center;')
										i
											img(src='/images/icons/glasses.png')    
									td(style='text-align:center;')
										a(href='http://localhost:7301/admin/manage/glasswares') Glasswares
									td(style='text-align:center;')
										t -
									td Click here to manipulate the data about 
										t(style='color:orange') Glasswares

								tr
									td(style='text-align:center;')
										i
											img(src='/images/icons/fruits.png')    
									td(style='text-align:center;')
										a(href='http://localhost:7301/admin/manage/ingredients') Ingredients
									td(style='text-align:center;')
										t -
									td Click here to manipulate the data about 
										t(style='color:orange') Ingredients

								tr
									td(style='text-align:center;')
										i
											img(src='/images/icons/placeholder.png')    
									td(style='text-align:center;')
										a(href='http://localhost:7301/admin/manage/locations') Locations
									td(style='text-align:center;')
										t -
									td Click here to manipulate the data about 
										t(style='color:orange') Locations							

								tr
									td(style='text-align:center;')
										i
											img(src='/images/icons/user.png')    

									td(style='text-align:center;')
										a(href='http://localhost:7301/admin/manage/users') Users

									td(style='text-align:center;')
										t -

									td Click here to manipulate the data about the 
										t(style='color:orange') Users
		footer
			.copyright
				.container
					p &copy; Gon&ccedil;alo Pinto and Lu&iacute;s Ribeiro
	.overlay