extends layout

block content
    #content
        header
            .container-fluid
                .row
                    .col-md-3
                        .full
                            a.logo(href='/homepage')
                                img(src='/images/favicon.ico' alt='#' style='width: 15%;')
                    .col-md-9
                        .full
                            div(class='right_header_info')
                                ul
                                    if level == 'none'
                                        li.button_user
                                            a.button.active(href='http://localhost:7301/users/login') Login
                                            a.button(href='http://localhost:7301/users/register') Register
                                    else
                                        li.button_user
                                            a.button.active(href='http://localhost:7301/users/myprofile') My profile
                                            a.button(href='http://localhost:7301/users/logout') Log out
                                    li
                                        form#demo-2(onsubmit="return validateSearchForm()" name="SearchForm" action='http://localhost:7301/search', method='POST')
                                            input(type='search' name='search' value='' placeholder='Search')
                                    li
                                        button#sidebarCollapse(type='button')
                                            img(src='/images/menu_icon.png' alt='#')
        about
            .container
                .row
                    .col-md-12
                        .title
                            h2(style='margin-top: 150px') Categories
                            span Since every Cocktail can belong to a Category, here are the list of the existent Categories
                        table(id="example" style="text-align:center ")
                            thead
                                tr
                                    th
                                    th Category
                                    th Number of Cocktails
                            tbody
                                each cat in categories
                                    if cat.idCategory != 'withoutcategory'
                                        tr
                                            td
                                                img(src="/images/icons/cocktail.png")
                                            td
                                                a(href="/categories/" + cat.idCategory)=cat.strCategory
                                            td=cat.totalOfCocktails
                .row
                    .col-xl-6.col-lg-6.col-md-12.col-sm-12
                        .textarea
                            i(class="fa fa-warning")
                            t        
                            t There are 
                                b(style="color:red;")= no_category.totalOfCocktails 
                                t  cocktails with no category associated.
        footer
            .copyright
                .container
                    p &copy; Gon&ccedil;alo Pinto and Lu&iacute;s Ribeiro
        // end footer
    .overlay