extends layout

block content
	h1(class="w3-container w3-center") Ficha 2
	h2 Web Services REST e JSON
	h3 Aplicação B
	p
	p Bem-vindo à aplicação Web para registo de relatórios.
	p Nesta aplicação também é possível visualizar a lista de trabalho para um determinado dia.
	p Esta aplicação utiliza uma API que efetua consultas à base de dados e devolve a informação apenas em JSON utilizando o protocolo HTTP.
	p Toda a informação registada encontra-se guardada numa base de dados relacional, MySQL.
	hr
	hr
	h4 Requisitos na máquina B
	ul
		li Carregar a lista de todos os exames a realizar no dia de hoje
		li Realizar os exames e disponibilizar os relatórios.
	hr
	hr
	footer(class="w3-container w3-center" style="bottom: 0; width: 100%;")
		p MiEI - 4ºAno - 2ºSemestre - IS 20/21
		p 
			b Autores - Grupo 1 
		p Gonçalo Pinto,	 
			a(href="mailto:a83732@alunos.uminho.pt") a83732
		p João Diogo Mota, 
			a(href="mailto:a80791@alunos.uminho.pt") a80791
		p José Gonçalo Costa, 
			a(href="mailto:pg42839@alunos.uminho.pt") pg42839
		p José Nuno Costa, 
			a(href="mailto:a84829@alunos.uminho.pt") a84829