extends layout

block content
    table(id='example' class='display' style='width:100%')
        thead
            tr
                th Atomic Number
                th Symbol
                th Name
                th About
        tbody
            each e in elements 
                tr
                    td(style="text-align:center")=e.anumber
                    td(style="text-align:center")=e.simb
                    td(style="text-align:center")=e.nome
                    td(style="text-align:center")
                        button(class="button-transparent" onclick="location.href='http://localhost:7201/element/" + e.id + "'")
                            i(class="fa fa-info-circle" aria-hidden="true")