extends layout

block content
    .w3-container.w3-section.w3-card-4

        h1.w3-blue MyTwitter

        header.w3-container.w3-border
                h3 Nova Entrada:
                .w3-container
                form.w3-container(method='POST' action="/")
                    input.w3-input(type="text" name="texto" placeholder="Texto")

                    input.w3-input(type="text" name="autor" placeholder="Autor")

                    input.w3-input(type="text" name="palavrachave" placeholder="Palavra Chave/Hash")
                    
                    input.w3-btn.w3-border.w3-grey(type="submit" value="Adicionar")

        header.w3-container.w3-border
                h3 Discussão
                    .w3-container
                        table.w3-table-all
                            each t in tweets
                                if t
                                    tr
                                        td
                                            p
                                                b= t.autor
                                                b ::
                                                b= t.palavrachave
                                                p= t.texto

                                                form.w3-container(method='POST' action="/gostos")
                                                    input(type="hidden" name="id" value=t._id)
                                                    input.w3-btn.w3-border.w3-grey(type="submit" value="Gostos (" + t.gostos + ")")